beautifulsoup4==4.9.1
click==7.1.2
geckodriver-autoinstaller==0.1.0
plac==1.2.0
price-parser==0.3.3
pycountry==20.7.3
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
tldextract==2.2.3
